.door-switch {
  position: relative;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;

  &-checkbox {
      display: none;
  }

  &-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 0 solid #bbb;
      border-radius: 20px;
      margin: 0;
  }

  &-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;

      &:before,
      &:after {
          display: block;
          float: left;
          width: 50%;
          height: 34px;
          padding: 0;
          line-height: 34px;
          font-size: 14px;
          color: white;
          font-weight: bold;
          box-sizing: border-box;
      }

      &:before {
          content: attr(data-yes);
          text-transform: uppercase;
          padding-left: 10px;
          background-color: #f90;
          color: #fff;
      }
  }

  &-disabled {
      background-color: #ddd;
      cursor: not-allowed;

      &:before {
          background-color: #ddd;
          cursor: not-allowed;
      }
  }

  &-inner:after {
      content: attr(data-no);
      text-transform: uppercase;
      padding-right: 10px;
      background-color: #bbb;
      color: #fff;
      text-align: right;
  }

  &-switch {
      display: block;
      width: 24px;
      margin: 5px;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 65px;
      border: 0 solid #bbb;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
  }

  &-checkbox:checked + &-label {
      .door-switch-inner {
          margin-left: 0;
      }

      .door-switch-switch {
          right: 0px;
      }
  }
}

html {
  height: 100%;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
}
h1,
h2 {
  margin: 0;
  text-transform: uppercase;
}
h2 {
  font-weight: 300;
}
input {
  border: 1px solid #666;
  background: #333;
  color: #fff;
  padding: 0.5em;
  box-shadow: none;
  outline: none !important;
  margin: 1em auto;
  text-align: center;
}